<section class="About-Us-Section">
  <div class="container About-container">
    <h1 class="About-wrap">Чому Хатинка Лапок</h1>

    <div class="image-wrapper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./img/About-Us/mobile/first-mobile.png"
            srcset="./img/About-Us/table/first-table.png 1x, ./img/About-Us/PC/first-desktop.png 2x"
            alt="Про нас"
          />
          <p class="about-text">
            Все почалося у 2015 році з кількох небайдужих людей та одного врятованого собаки. Сьогодні ми — один з найбільших притулків у регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
          </p>
        </div>

        <div class="swiper-slide">
          <img
            src="./img/About-Us/mobile/sekond-mobile.png"
            srcset="./img/About-Us/table/sekond-table.png 1x, ./img/About-Us/PC/sekond-desktop.png 2x"
            alt="Наші підопічні"
          />
          <p class="about-text">
            Ми рятуємо, лікуємо та знаходимо дім для тварин...
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./img/About-Us/mobile/and-mobile.png"
            srcset="./img/About-Us/table/and-table.png 1x, ./img/About-Us/PC/and-desktop.png 2x"
            alt="команда ветеринарів"
          />
          <p class="about-text">
            "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та десятків волонтерів, які щодня вкладають свою душу та час у турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від нас.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./img/About-Us/mobile/firstand-mobile.png"
            srcset="./img/About-Us/table/firstand-table.png 1x, ./img/About-Us/PC/firstand-desktop.png 2x"
            alt="Кожна тварина"
          />
          <p class="about-text">
            Ми створили безпечний та комфортний простір. Кожна тварина отримує якісне харчування, своєчасну ветеринарну допомогу, проходить соціалізацію та гуляє на спеціально обладнаних майданчиках.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./img/About-Us/mobile/sekondand-mobile.png"
            srcset="./img/About-Us/table/sekondand-table.png 1x, ./img/About-Us/PC/sekondand-desktop.png 2x"
            alt="Ваша допомога"
          />
          <p class="about-text">
          Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати волонтером, допомогти фінансово або інформаційно. Кожен маленький внесок наближає нас до великої мети — світу без безпритульних тварин.
          </p>
        </div>
      </div>

      <!-- Навігація -->
      <button
        class="about-arrow about-arrow-left swiper-button-prev"
        aria-label="Попередній слайд"
      >
        <svg width="16" height="16">
          <use href="./img/About-Us/left.svg#arrow-left"></use>
        </svg>
      </button>

      <!-- Кнопка навігації-->
      <button
        class="about-arrow about-arrow-right swiper-button-next"
        aria-label="Наступний слайд"
      >
        <svg width="16" height="16">
          <use href="./img/About-Us/Vector.svg#arrow-right"></use>
        </svg>
      </button>

      <!-- Пагінація слайдера -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <script src="./js/About/about.js"></script>
</section>