<section class="About-Us-Section">
  <div class="container About-container">
    <h1 class="About-wrap">Чому Хатинка Лапок</h1>

    <div class="image-wrapper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/about-1@1x.jpg"
            srcset="./images/about-1@1x.jpg 1x, ./images/about-1@2x.jpg 2x"
            alt="Про нас"
          />
          <p class="about-text">
            Все почалося у 2015 році з кількох небайдужих людей та одного
            врятованого собаки...
          </p>
        </div>

        <div class="swiper-slide">
          <img
            src="./images/about-2@1x.jpg"
            srcset="./images/about-2@1x.jpg 1x, ./images/about-2@2x.jpg 2x"
            alt="Наші підопічні"
          />
          <p class="about-text">
            Ми рятуємо, лікуємо та знаходимо дім для тварин...
          </p>
        </div>
      </div>

      <!-- Навігація -->
      <button class="about-arrow about-arrow-left swiper-button-prev" aria-label="Попередній слайд">
        <svg width="24" height="24"><use href="./icons.svg#arrow-left"></use></svg>
      </button>

      <button class="about-arrow about-arrow-right swiper-button-next" aria-label="Наступний слайд">
        <svg width="24" height="24"><use href="./icons.svg#arrow-right"></use></svg>
      </button>

      <!-- Пагінація -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>