

<section class="container">
    <!-- <h1 style="color:red">FAQ TEST</h1> -->

    <h2 class="faq-title">Все, що ви хотіли знати</h2>

    <!-- Акордеон: елементи з питаннями і відповідями -->
    <div class="faq-item">
        <button class="faq-toggle">
        <span class="faq-question">
            Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?
        </span>
            <!-- Іконка для відкриття/закриття -->
        <svg class="faq-svg" width="15" height="15">
          <use href="../img/icons.svg#icon-add"></use>
        </svg>

        </button>
        <div class="faq-answer">
            <p>Відповідь на це питання...</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-toggle">
            <span class="faq-question">
                Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?
            </span>
            <!-- Іконка для відкриття/закриття -->
            <svg class="faq-svg" width="15" height="15">
                <use href="../img/icons.svg#icon-add"></use>
            </svg>
    
        </button>
        <div class="faq-answer">
            <p>Відповідь на це питання...</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-toggle">
            <span class="faq-question">
                Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?
            </span>
            <!-- Іконка для відкриття/закриття -->
            <svg class="faq-svg" width="15" height="15">
                <use href="../img/icons.svg#icon-add"></use>
            </svg>
    
        </button>
        <div class="faq-answer">
            <p>Відповідь на це питання...</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-toggle">
            <span class="faq-question">
                Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?
            </span>
            <!-- Іконка для відкриття/закриття -->
            <svg class="faq-svg" width="15" height="15">
                <use href="../img/icons.svg#icon-add"></use>
            </svg>
    
        </button>
        <div class="faq-answer">
            <p>Відповідь на це питання...</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-toggle">
            <span class="faq-question">
                Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?
            </span>
            <!-- Іконка для відкриття/закриття -->
            <svg class="faq-svg" width="15" height="15">
                <use href="../img/icons.svg#icon-add"></use>
            </svg>
    
        </button>
        <div class="faq-answer">
            <p>Відповідь на це питання...</p>
        </div>
    </div>
    </section>
