<footer class="footer">
    <div class="container footer-container">
      <div class="footer-desc">
        <nav class="footer-nav"><a href="./" aria-label="Хатинка Лапок - головна сторінка">
            <svg class="icon-footer-btn" width="302px" height="129px">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg></a>
              <ul class="footer-list">
                <li class="footer-item">
                  <a href="#About-Us-Section" class="footer-link">Про нас</a>
                </li>
                <li class="footer-item">
                  <a href="#pets-list-section" class="footer-link">Знайди друга</a>
                </li>
                <li class="footer-item">
                  <a href="#faq-sect" class="footer-link">Часті запитання</a>
                </li>
                <li class="footer-item">
                  <a href="#Success-Stories-Section" class="footer-link">Історії успіху</a>
                </li>
              </ul>
          </nav>
        <div class="footer-container-media">
          <ul class="footer-media-list">
            <li class="footer-media-item">
              <a
                class="footer-media-link"
                href="https://www.Facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook сторінка Хатинка Лапок"
                ><svg class="footer-media-icon" width="32" height="32">
                    <use href="/img/icons.svg#icon-Facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-media-item">
              <a
                class="footer-media-link"
                href="https://www.Instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram сторінка Хатинка Лапок"
                ><svg class="footer-media-icon" width="32" height="32">
                    <use href="/img/icons.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="footer-text">
        &copy; 2025 Хатинка лапок. Всі права захищені.</p>
    </div>
  </footer>
