<header class="header">
  <div class="container header-container">
    <nav class="header-nav"><a href="./">
      <svg class="icon-header-btn" width="157px" height="51px">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg></a>

      <!-- desktop navigation -->

        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#pets-list-section" class="header-nav-link">Знайди друга</a>
          </li>
          <li class="header-nav-item">
            <a href="#about-se" class="header-nav-link">Про нас</a>
          </li>
          <li class="header-nav-item">
            <a href="#faq-sect" class="header-nav-link">Часті запитання</a>
          </li>
          <li class="header-nav-item">
            <a href="#" class="header-nav-link">Історії успіху</a>
          </li>
        </ul>

        <a href="#pets-list-section" class="header-btn">Взяти друга</a>
    </nav>

    <!-- burger button -->
    <button class="header-burger-btn">
      <svg width="24px" height="24px">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- mobile menu -->
    <div class="header-modal-menu">
      <div class="modal-top-btn"><a href="./">
      <svg class="icon-header-btn" width="157px" height="51px">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg></a>
      <button class="header-close-btn">
        <svg width="24px" height="24px">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button></div>
      <ul class="header-modal-list">
        <li class="header-modal-item">
          <a href="#pets-list-section" class="header-modal-link">Знайди друга</a>
        </li>
        <li class="header-modal-item">
          <a href="#about-se" class="header-modal-link">Про нас</a>
        </li>
        <li class="header-modal-item">
          <a href="#faq-sect" class="header-modal-link">Часті запитання</a>
        </li>
        <li class="header-modal-item">
          <a href="#" class="header-modal-link">Історії успіху</a>
        </li>
      </ul>

      <a href="#pets-list-section" class="header-modal-btn">Взяти друга</a>
    </div>
  </div>
</header>
