<div class="backdrop" data-order-backdrop>
  <div class="order-modal" data-order-modal>
    <button type="button" class="order-modal__close">
      <svg width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="order-modal__title">Залишіть заявку на знайомство</h2>

    <form class="order-form" id="orderForm">
      <label class="order-form__field">
        <span class="order-form__info">Імʼя*</span>
        <input
          class="order-form__input"
          name="name"
          placeholder="Ім'я"
          required
        />
      </label>

      <label class="order-form__field">
        <span class="order-form__info">Телефон*</span>
        <input
          class="order-form__input"
          name="phone"
          placeholder="380"
          required
        />
      </label>

      <label class="order-form__field">
        <span class="order-form__info">Коментар</span>
        <textarea
          class="order-form__comment"
          name="comment"
          placeholder="Напишіть ваш коментар"
        ></textarea>
      </label>

      <button type="submit" class="order-form__submit">Надіслати</button>
    </form>
  </div>
</div>
