<section class="container" id="pets-list-section">
  <div class="container pets-list_container">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-text">Вони дуже чекають на знайомство з вами</p>
    <ul class="categories-list">
      <li class="categories-item">
        <div class="categories-text active">Всі</div>
      </li>
    </ul>
    <ul class="animals-list"></ul>
    <div class="btn-container">
      <button class="loadmore-btn">Показати більше</button>
    </div>
  </div>
</section>
