<section class="pets-list_container" id="pets-list-section">
  <div class="container">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-text">Вони дуже чекають на знайомство з вами</p>
    <ul class="categories-list">
      <li class="categories-item">
        <div class="categories-text active">Всі</div>
      </li>
    </ul>
    <ul class="animals-list"></ul>

    <button class="loadmore-btn hidden">Показати більше</button>

    <div class="loader-container"><span class="loader hidden"></span></div>
  </div>
</section>
