/* ===== Section ===== */
.About-Us-Section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.About-wrap {
  text-align: center;
  padding-bottom: 40px;
  max-width: 335px;
  font-size: 32px;
  font-family: Open Sans;
 line-height: 120%;
}

/* ===== Swiper ===== */



.about-swiper {
  position: relative;
  --swiper-navigation-color: #ff6b08;
  --swiper-theme-color: #fa8383;
}

.swiper-slide {
  position: relative;
}

/* ===== Image ===== */
.image-wrapper {
  position: relative;
  /* border-radius: 16px; */
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 402px;
  object-fit: cover;
  display: block;
}

/* ===== Text over image ===== */
.about-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-weight: 400;
  max-width: 295px;
  color: #fff;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0);
}

/* ===== Arrows ===== */
.about-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 10;
}

.about-arrow:hover,
.about-arrow:focus {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
}

.about-arrow:disabled {
  opacity: 0.4;
  cursor: pointer;
}

/* accessibility */
.about-arrow:focus-visible {
  outline: 2px solid #000;
  border-radius: 50px;
}

.about-arrow-left {
  left: 16px;
  border-radius: 50px;
}

.about-arrow-right {
  right: 16px;
  border-radius: 50px;
}

/* ===== Pagination ===== */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

/* ===== Responsive ===== */

@media (min-width: 768px) {
  .swiper-slide img {
    height: 404px;
  }
    .about-text {
    left: 32px;
    bottom: 32px;
    max-width: 548px;
    padding: 0;
    line-height: 150%;
  }
  .About-wrap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    max-width: 768px;
    font-size: 32px;
    font-family: Open Sans;
    line-height: 120%;
}
}

@media (min-width: 1440px) {
  .About-Us-Section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .About-wrap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 768px;
    font-size: 32px;
    font-family: Open Sans;
    line-height: 120%;
    font-weight: 700;
}
  .swiper-slide img {
    height: 753px;
  }
 
  .about-text {
    left: 63.5px;
    bottom: 64px;
    max-width: 548px;
    height: 108px;
    padding: 0;
    line-height: 150%;
  }

}
