/* =================== FAQ-Section_mobile ==================== */


.faq-section {

padding-top: 64px;
padding-bottom: 64px;
padding-right: 20px;
padding-left: 20px;

}

.faq-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    font-family: "Open Sans", sans-serif;
}

.faq-svg {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-toggle {
    position: relative;
    border: 0px solid rgba(2, 6, 10, 0.15);
    border-radius: 8px;
    width: 100%; 
    max-width: 335px;
    background: #eee9e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.faq-question {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #02060a;
    display: block;
    padding-right: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: left;
}

.faq-answer {
    padding: 0px 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease,
                padding 300ms ease;
    border: 0px solid rgba(2, 6, 10, 0.15);
    border-radius: 8px;
    background: #eee9e3;
}

.faq-answer-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #02060a;
    font-family: "IBM Plex Sans", sans-serif;
}


.faq-list{ 
    margin-top: 40px; 
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}


/* Відкриття кнопки */


.faq-item.is-open .faq-answer {
    padding: 0 24px 24px;
    max-height: 1000px;
}


/* =================== FAQ-Section_tablet ==================== */

@media screen and (min-width: 768px) {

.faq-toggle {   
    max-width: none;
    min-width: 704px;
    min-height: 72px;
    padding: 20px 24px;
    align-items: flex-start;
    }

.faq-question {
    margin: 0;
    padding-right: 48px;
    }

.faq-item{
    max-width: 704px;
}        
}





/* =================== FAQ-Section_desktop ==================== */

@media screen and (min-width: 1440px) {

.faq-toggle {
    min-width: 864px;
    }


.faq-item {
    max-width: 864px;
    }

}