.footer {
  background-color: #c3b49d;
  text-align: center;
}
.footer-desc {
  padding: 48px 20px;
  display: block;
  margin: auto;
}
.footer-container {
  display: flex;
  flex-direction: column; 
  gap: 32px;
}

.footer-item {
  margin: 0 0.7em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin-top: 32px;
}

/* соц іконки */
.footer-media-item {
  display: inline-block;
  margin: 0 0.5em;
}

/* посилання з підкресленням */
.footer-link {
  position: relative;
  text-decoration: none;
  color: #02060a;
  font-size: 14px;
  
}

.footer-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.footer-link:hover::after {
  transform: scaleX(1);
}

/* текст з лінією */
.footer-text {
  position: relative;
  padding-top: 2.0em;
  color: #2b2b2b;
  margin-top: 80px;
  font-size: 14px;

}

.footer-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(43, 43, 43, 0.2);
}

/* hover на іконку */
.icon-footer-btn:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
.footer-item  {
  display: inline-block;
}
.footer-desc {
    padding: 48px 32px;
  }
}


@media screen and (min-width: 1440px) {
.footer-desc {
  padding: 64px 64px;
}
.footer-link {
  position: relative;
  text-decoration: none;
}
.footer-item {
  display: inline-block;
  margin-top: 32px;
    
}
  
  
}