.header {
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

/* логотип */
.icon-header-btn {
  display: block;
  cursor: pointer;
  padding: 7px 0;
  margin-right: 25px;
}

.icon-header-btn:hover {
  transform: scale(1.05);
}

/* desktop меню приховане */
.header-nav-list,
.header-btn {
  display: none;
}

/* бургер */
.header-burger-btn {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.header-burger-btn:hover {
  transform: scale(1.2);
}

/* ==== */

.header-modal-menu {
  position: fixed;
  inset: 0;
  top: 0;
  width: 100%;
  background-color: #f6f3ee;

  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100dvh;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms ease;
}

.header-modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.modal-top-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  fill: #02060a;
  stroke-width: 1px;
  stroke: #02060a;
}

.header-close-btn:hover {
  transform: scale(1.2);
}
.header-modal-list {
  margin: 40px 0 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-modal-link {
  position: relative;
  text-decoration: none;
  color: #2b2b2b;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header-modal-link::after {
  content: '';
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0.5px;

  height: 1px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.3s ease;
}

.header-modal-link:hover::after,
.header-modal-link:focus::after {
  transform: scaleX(1);
}

.header-modal-link:active {
  color: #88765c;
}

.header-modal-link.is-disabled {
  pointer-events: none;
  color: #02060a;
}

.header-modal-link.is-disabled::after {
  display: none;
}

.header-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 335px;
  height: 37px;
  padding: 8px 20px;
  background-color: #88765c;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;

  border: 1px solid transparent;

  transition: background-color 0.25s ease, color 0.25s ease,
    border-color 0.25s ease, box-shadow 0.15s ease, transform 0.1s ease;
}

.header-modal-btn:hover,
.header-modal-btn:focus {
  color: #02060a;
  background-color: #eee9e3;
  border-color: #c3b49d;
}

.header-modal-btn:active {
  transform: scale(0.97);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.header-modal-btn:disabled {
  pointer-events: none;
  opacity: 0.3;
  background-color: #88765c;
  border-color: #88765c;
}

/* ==== */

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 32px;
  }

  .header-modal-list {
    gap: 32px;
    align-items: center;
  }
  .header-modal-btn {
    width: 196px;
    height: 37px;
  }
}

/* ==== */

@media screen and (min-width: 1440px) {
  .header-container {
    display: block;
    padding: 0 64px;
  }

  /* показуємо desktop навігацію */
  .header-nav-list {
    display: flex;
    gap: 32px;
  }

  .header-nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 8px;

    color: #2b2b2b;
    font-size: 14px;
    text-decoration: none;

    transition: color 0.3s ease;
  }

  .header-nav-link::after {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 6px;

    height: 1px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s ease;
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after {
    transform: scaleX(1);
  }

  .header-nav-link:active {
    color: #88765c;
  }

  .header-nav-link.is-disabled {
    pointer-events: none;
    color: #02060a;
  }

  .header-nav-link.is-disabled::after {
    display: none;
  }

  .header-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 8px 20px;

    background-color: #88765c;
    color: #fff;
    text-decoration: none;

    border-radius: 8px;
    border: 1px solid transparent;

    margin-left: auto;

    transition: background-color 0.25s ease, color 0.25s ease,
      border-color 0.25s ease, box-shadow 0.15s ease, transform 0.1s ease;
  }

  .header-btn:hover,
  .header-btn:focus {
    color: #02060a;
    background-color: #eee9e3;
    border-color: #c3b49d;
  }

  .header-btn:active {
    transform: scale(0.97);
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
      inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  }

  .header-btn:disabled {
    pointer-events: none;
    opacity: 0.3;
    background-color: #88765c;
    border-color: #88765c;
  }

  /* ховаємо бургер і мобільне меню */
  .header-burger-btn,
  .header-modal-menu {
    display: none;
  }
}
