.hero-container {
  padding-left: 20px;
  padding-top: 64px;
  padding-bottom: 116px;
  background-image: linear-gradient(
      to right,
      rgba(62, 54, 38, 0.74) 0%,
      rgba(62, 54, 38, 0) 100%
    ),
    image-set(
      url('../img/Hero-section/hero-image-mob-min.png') 1x,
      url('../img/Hero-section/hero-image-mob@2x-min.png') 2x
    );
  background-repeat: no-repeat, no-repeat;

  background-size: cover, cover;
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
}

.hero-descr {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: #fff;
}

.hero-button {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* gap: 8px; */
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;

  background: #88765c;
  font-weight: 400;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
}

/* .hero-button:hover {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #eee9e3;
  font-weight: 400;
  font-size: 14px;

  
  line-height: 1.5;
  color: #02060a;
}

.hero-button:active {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  width: 97px;
  height: 48px;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
  font-weight: 400;
  font-size: 14px;

  
  line-height: 1.5;
  color: #02060a;
} */

@media only screen and (min-width: 768px) {
  .hero-container {
    padding-top: 64px;
    padding-bottom: 234px;
    padding-left: 32px;
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      image-set(
        url('../img/Hero-section/hero-image-tab-min.png') 1x,
        url('../img/Hero-section/hero-image-tab@2x-min.png') 2x
      );
  }

  .hero-title {
    width: 622px;
  }

  .hero-descr {
    width: 512px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  /* .hero-section {
    max-width: 1200px;
  } */

  .hero-container {
    padding-top: 128px;
    padding-bottom: 412px;

    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      image-set(
        url('../img/Hero-section/hero-image-desktop-min.png') 1x,
        url('../img/Hero-section/hero-image-desktop@2x-min.png') 2x
      );
  }
  .hero-title {
    font-size: 56px;
  }

  .hero-descr {
    font-size: 18px;
  }
  .hero-button {
    font-size: 16px;
  }
}
