.hero-section {
  padding-top: 64px;
  padding-bottom: 116px;
  background-image: linear-gradient(
      to right,
      rgba(62, 54, 38, 0.74) 0%,
      rgba(62, 54, 38, 0) 100%
    ),
    url(../img/Hero-section/hero-image-mob.png);
  background-repeat: no-repeat;

  background-position: center;
}
.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
}

.hero-descr {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #fff;
}

.hero-button {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* gap: 8px; */
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  /* width: 171px;
  height: 45px; */
  background: #88765c;
  font-weight: 400;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      url(../img/Hero-section/hero-image-tab.png);
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
