/* ===== BACKDROP ===== */
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  padding: 16px;
  z-index: 1;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

body.modal-open {
  overflow: hidden;
}

/* tablet */
@media (min-width: 768px) {
  .order-modal {
    max-width: 480px;
    padding: 32px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .order-modal {
    max-width: 520px;
  }
}

.order-modal {
  width: 100%;
  max-width: 343px;
  background-color: #f6f4f1;
  border-radius: 8px;
  padding: 64px 20px;
  position: relative;

  max-height: calc(100vh - 32px);
  overflow-y: auto;
}

/* ===== CLOSE ===== */
.order-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  fill: #fff;
  stroke-width: 1px;
  stroke: #02060a;
}

.order-modal__close:hover,
.order-modal__close:focus {
  transform: scale(1.15);
  stroke: #02060a;
}

/* ===== TITLE ===== */
.order-modal__title {
  /* margin-bottom: 48px; */
  font-size: 36px;
  display: block;
  max-width: 295px;
  margin: auto 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
}

/* ===== FORM ===== */
.order-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 48px;
}

.order-form__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.order-form__submit {
  margin-top: 8px;
  padding: 14px;
  font-size: 14px;
  border-radius: px;
  border: none;
  border-radius: 8px;
  background-color: #88765c;
  color: #fff;
  cursor: pointer;
  border: 1px solid #88765c;
}

.order-form__submit:hover {
  color: #02060a;
  background-color: #eee9e3;
}

.order-form__submit:focus {
  color: #02060a;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
}

.order-form__info {
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.order-form__comment {
  height: auto;
  min-height: 120px;
  resize: none;

  padding: 12px 14px;
  background-color: #eee9e3;
  border: 1px solid transparent;
  border-radius: 16px;
}

/* ===== INPUTS ===== */
.order-form__input,
.order-form__comment {
  background-color: rgba(2, 6, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 14px;
  color: rgba(2, 6, 10, 0.6);
  outline: none;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.order-form__input:hover,
.order-form__input:focus {
  border: 1px solid #88765c;
  border-radius: 12px;
  background: #eee9e3;
}

.order-form__comment:hover,
.order-form__comment:focus {
  border: 1px solid #88765c;
  border-radius: 12px;
  background: #eee9e3;
}

.order-form__input::placeholder,
.order-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(2, 6, 10, 0.4);
}

.order-form__input:focus::placeholder,
.order-form__comment:focus::placeholder {
  color: transparent;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

@media (min-width: 768px) {
  /* ===== MODAL SIZE ===== */
  .order-modal {
    width: 100%;
    max-width: 704px;
    padding: 64px 20px;
    box-sizing: border-box;
  }

  /* ===== TITLE ===== */
  .order-modal__title {
    max-width: 640px;
    margin: 0 auto 48px;
    font-size: 36px;
    white-space: nowrap;
    text-align: center;
  }

  /* ===== BUTTON ===== */
  .order-form__submit {
    width: 240px;
    margin: 0 auto;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #88765c;
    color: #fff;
    cursor: pointer;
    border: 1px solid #88765c;
  }
}

@media (min-width: 1440px) {
  .order-modal {
    max-width: 768px;
    padding: 64px 80px 56px;
  }

  .order-modal__title {
    max-width: 520px;
    font-size: 36px;
    white-space: normal;
  }

  .order-form__submit {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .backdrop {
    padding: 32px;
  }

  .order-modal__title {
    font-size: 36px;
  }

  .order-form__comment {
    min-height: 120px;
  }
}
@media (min-width: 1440px) {
  .order-modal {
    max-width: 768px;
  }

  /* .order-modal__title {
    font-size: 32px;
  } */
}
