.pets-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.pets-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.categories-list {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.categories-item {
  padding: 10px 16px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;
}

/* start animals list */
.animals-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.animals-item {
  display: flex;
  flex-direction: column;
  background-color: #eee9e3;
  padding: 12px;
  gap: 16px;
  border-radius: 16px;
}

.animals-img {
  border-radius: 8px;
}
.animals-subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

.animals-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.animals-sublist {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.animals-categories {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  background: rgba(2, 6, 10, 0.05);
}

.animals-textlist {
  display: flex;
  gap: 16px;
}

.animals-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.animals-btn {
  border: 1px solid #02060a;
  border-radius: 8px;
  padding: 8px 20px;
  width: 311px;
  height: 40px;
  background-color: #eee9e3;
}
/* end animals list */

.loadmore-btn {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  width: 335px;
  height: 45px;
  background-color: #88765c;
  margin-top: 40px;
  color: #ffffff;
}
